In [17]:
import pandas as pd
import os
import json

# Path to the directory
path_to_directory = '../cleaned_data/customers/landing'

# Number of items to read
number_of_items = 10

# List all the files in the directory
files = [file for file in os.listdir(path_to_directory) if file.endswith('.json')]

# Initialize an empty list to store the DataFrames
dataframes = []

# Iterate through the files and read each JSON file (up to the specified number)
for file in files:
    with open(os.path.join(path_to_directory, file), 'r') as f:
        data = json.load(f)
        
        # If the JSON data is a nested structure, you may need to adjust this
        df = pd.DataFrame.from_dict(data)
        df['file'] = file
        
        dataframes.append(df)

# Concatenate all the DataFrames to create the final DataFrame
final_df = pd.concat(dataframes, ignore_index=True)

# Now you can work with the final DataFrame
print(final_df.head())

         customerName                        email       phone    birthDay  \
0         Bobby Davis         Bobby.Davis@test.com  8015551212  1965-01-01
1          John Abram          John.Abram@test.com  8015551212  1964-01-01
2         Larry Jones         Larry.Jones@test.com  8015551212  1963-01-01
3  Christina Anderson  Christina.Anderson@test.com  8015551212  1962-01-01
4         Jerry Smith         Jerry.Smith@test.com  8015551212  1961-01-01

                           serialNumber  registrationDate  lastUpdateDate  \
0  5d9bf1f7-0492-4bac-842b-3ed958fa5ba1      1.655296e+12    1.655296e+12
1  f831cb34-4ef3-42cf-9ee7-a0240b515f33      1.655296e+12    1.655296e+12
2  773b5821-b992-4307-b738-d511b9e0a406      1.655296e+12    1.655296e+12
3  773b5821-b992-4307-b738-d511b9e0a406      1.655296e+12    1.655296e+12
4  51fe4a0b-84bf-4fd8-ac10-638481219601      1.655296e+12    1.655296e+12

   shareWithResearchAsOfDate  shareWithPublicAsOfDate  \
0               1.655296e+12             1.655296e+12
1                        NaN             1.655296e+12
2               1.655296e+12             1.655296e+12
3                        NaN                      NaN
4                        NaN                      NaN

   shareWithFriendsAsOfDate                          file
0                       NaN  customers-1655296350451.json
1              1.655296e+12  customers-1655296350451.json
2                       NaN  customers-1655296350451.json
3                       NaN  customers-1655296350451.json
4                       NaN  customers-1655296350451.json

In [18]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758715 entries, 0 to 758714
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   customerName               758715 non-null  object
 1   email                      758715 non-null  object
 2   phone                      758715 non-null  object
 3   birthDay                   758715 non-null  object
 4   serialNumber               758715 non-null  object
 5   registrationDate           758715 non-null  float64
 6   lastUpdateDate             758715 non-null  float64
 7   shareWithResearchAsOfDate  379694 non-null  float64
 8   shareWithPublicAsOfDate    379195 non-null  float64
 9   shareWithFriendsAsOfDate   379702 non-null  float64
 10  file                       758715 non-null  object
dtypes: float64(5), object(6)
memory usage: 63.7+ MB

In [19]:
#Find location of rows with null value
final_df[final_df['shareWithResearchAsOfDate'].isnull()]

,customerName,email,phone,birthDay,serialNumber,registrationDate,lastUpdateDate,shareWithResearchAsOfDate,shareWithPublicAsOfDate,shareWithFriendsAsOfDate,file
1,John Abram,John.Abram@test.com,8015551212,1964-01-01,f831cb34-4ef3-42cf-9ee7-a0240b515f33,1.655296e+12,1.655296e+12,NaN,1.655296e+12,1.655296e+12,customers-1655296350451.json
3,Christina Anderson,Christina.Anderson@test.com,8015551212,1962-01-01,773b5821-b992-4307-b738-d511b9e0a406,1.655296e+12,1.655296e+12,NaN,NaN,NaN,customers-1655296350451.json
4,Jerry Smith,Jerry.Smith@test.com,8015551212,1961-01-01,51fe4a0b-84bf-4fd8-ac10-638481219601,1.655296e+12,1.655296e+12,NaN,NaN,NaN,customers-1655296350451.json
5,Manoj Davis,Manoj.Davis@test.com,8015551212,1960-01-01,f3161efa-b3ab-49db-8561-f23e1ffc791f,1.655296e+12,1.655296e+12,NaN,NaN,1.655296e+12,customers-1655296350451.json
9,John Huey,John.Huey@test.com,8015551212,1956-01-01,938516ed-1680-49f5-993a-6187bf0a1eab,1.655296e+12,1.655296e+12,NaN,1.655296e+12,NaN,customers-1655296350451.json
...,...,...,...,...,...,...,...,...,...,...,...
758708,Jane Spencer,Jane.Spencer@test.com,8015551212,973-01-01,b8a9332d-39f7-4994-a299-d60a747d288b,1.655297e+12,1.655297e+12,NaN,1.655297e+12,NaN,customers-1655296531435.json
758709,Gail Mitra,Gail.Mitra@test.com,8015551212,972-01-01,f831cb34-4ef3-42cf-9ee7-a0240b515f33,1.655297e+12,1.655297e+12,NaN,NaN,1.655297e+12,customers-1655296531435.json
758712,Larry Clayton,Larry.Clayton@test.com,8015551212,969-01-01,2bc01cbe-2ea2-4603-b91a-5989b915d392,1.655297e+12,1.655297e+12,NaN,NaN,NaN,customers-1655296531435.json
758713,Craig Hansen,Craig.Hansen@test.com,8015551212,968-01-01,5dd97793-c30e-4b8c-b73f-e4132914495f,1.655297e+12,1.655297e+12,NaN,1.655297e+12,1.655297e+12,customers-1655296531435.json
758714,Craig Hansen,Craig.Hansen@test.com,8015551212,967-01-01,b8a9332d-39f7-4994-a299-d60a747d288b,1.655297e+12,1.655297e+12,NaN,1.655297e+12,1.655297e+12,customers-1655296531435.json