In [3]:
import pandas as pd
import json

PATH = "../data/customer/landing/customers-1655293787679.json"

In [4]:
# Read the entire file as a single string
with open(PATH, 'r') as f:
    data = f.read()

# Split the string into individual JSON objects, removing leading/trailing whitespace
data = data.split('}{')
data[0] = data[0] + '}'
data[-1] = '{' + data[-1]
for i in range(1, len(data) - 1):
    data[i] = '{' + data[i] + '}'

# Convert each string into a Python dict, then convert the entire list into a DataFrame
df = pd.DataFrame([json.loads(item) for item in data])
df

,customerName,email,phone,birthDay,serialNumber,registrationDate,lastUpdateDate,shareWithResearchAsOfDate,shareWithPublicAsOfDate,shareWithFriendsAsOfDate
0,Frank Doshi,Frank.Doshi@test.com,8015551212,1965-01-01,159a908a-371e-40c1-ba92-dcdea483a6a2,1655293787680,1655293787680,1.655294e+12,1.655294e+12,NaN
1,Trevor Lincoln,Trevor.Lincoln@test.com,8015551212,1964-01-01,2bc01cbe-2ea2-4603-b91a-5989b915d392,1655293788365,1655293788365,1.655294e+12,NaN,1.655294e+12
2,Sean Clayton,Sean.Clayton@test.com,8015551212,1963-01-01,fc868710-172e-408b-895d-ba0a5406e4da,1655293788443,1655293788443,1.655294e+12,NaN,1.655294e+12
3,Neeraj Anandh,Neeraj.Anandh@test.com,8015551212,1962-01-01,2bc01cbe-2ea2-4603-b91a-5989b915d392,1655293788530,1655293788530,NaN,1.655294e+12,1.655294e+12
4,Travis Spencer,Travis.Spencer@test.com,8015551212,1961-01-01,94867fb9-570d-4031-b319-8a9d3b8c1c20,1655293788631,1655293788631,1.655294e+12,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
994,Jaya Clayton,Jaya.Clayton@test.com,8015551212,971-01-01,2e34a651-5e26-4280-b30b-9f2066496a89,1655293823480,1655293823480,1.655294e+12,NaN,1.655294e+12
995,Lyn Jackson,Lyn.Jackson@test.com,8015551212,970-01-01,b8a9332d-39f7-4994-a299-d60a747d288b,1655293823512,1655293823512,NaN,NaN,NaN
996,Larry Staples,Larry.Staples@test.com,8015551212,969-01-01,b8a9332d-39f7-4994-a299-d60a747d288b,1655293823548,1655293823548,1.655294e+12,NaN,NaN
997,Larry Wu,Larry.Wu@test.com,8015551212,968-01-01,41e55307-c7c3-4a9a-a607-61a8c1038456,1655293823586,1655293823586,1.655294e+12,NaN,1.655294e+12
998,Spencer Sanchez,Spencer.Sanchez@test.com,8015551212,967-01-01,ece6edf8-a14c-4489-a41c-98fe1b72b059,1655293823619,1655293823619,1.655294e+12,NaN,NaN

In [5]:
df.to_json('./test-output.json', orient='records', lines=True)